body {
  background: #ffdd99;
  background: -webkit-linear-gradient(right, #4a1c1c , #f3d7a0); /* For Safari 5.1 to 6.0 */
  font-family: verdana;
}

#header {
  background: #fce1aa;
  background: -webkit-linear-gradient(right, #4a1c1c , #fce1aa); /* For Safari 5.1 to 6.0 */
  padding: 5px;
  position: relative;
  height: 30px;
}
